body {
    margin: 0;
    background-color: rgba(47, 47, 230, 0.384);
}

h1, h2 {
    text-align: center;
}

p {
    text-align: center;
}

div {
    text-align: center;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

@media only screen and (min-width: 800px) {

    div {
        justify-content: center;
    }
}

@media only screen and (min-width: 1200px) {

    div {
        justify-content: center;
    }
}

@media only screen and (min-width: 1500px) {

    div {
        justify-content: center;
    }
}